:root {
    /* Color Variables */
    --dark-green: #324B4A;
    --teal: #439A97;
    --light-green: #95B1AF;
    --dark-blue: #323f64;
    --light-blue: #7D8BBB;
  }

/* General Body Default Styles */

body{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.2rem;
}

h1{
    font-size:3rem;
}

hr{
    background-color:var(--dark-green);
    width:100%;
    height:3px;
    opacity:1;   
}

.sectionSep{
    margin:0;
}

.footerText{
    color:white;
}


/* Introduction Section */

.introBox {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50px;
    width: 70%;
    margin: 0 auto; /* Center horizontally */
    padding: 20px;
    text-align: center; /* Center text */
    position: relative;
    top: -100vh; /* Initial position off-screen */
    animation: slideDownBox 1.1s forwards; /* Animation name, duration, and fill mode */
}

.introText {
    color: var(--dark-blue);
    font-weight: 800;
}

.introLine {
    width: 70%; /* Match introBox width */
    position: relative;
    top: -100px; /* Initial position off-screen */
    animation: slideDownLine 0.7s forwards; /* Animation name, duration, and fill mode */
}

@keyframes slideDownBox {
    from {
        top: -100vh; /* Start position (off-screen) */
    }
    to {
        top: 0; /* Final position (default top of the document) */
    }
}

@keyframes slideDownLine {
    from {
        top: -100vh; /* Start position (off-screen) */
    }
    to {
        top: 0; /* Final position (default top of the document) */
    }
}



/* Entire Content Section */

.myContent{
    background-color:var(--light-green);
}


/* Website Display Section */

.websiteSectionBanner{
    background-color: #182928d2;
    border-radius:20px;
}

.websiteSectionTitle{
    color:rgb(215, 225, 226);
    transition: color 0.5s;
}

.websiteSectionTitle:hover{
    color:var(--light-blue);
}

.myIMG{
    height:80%;
    width:100%;
}

.jumpBtn{
    color:white;
    background-color: var(--dark-green);
    font-weight:500;
    transition: color 0.5s, background-color 0.5s;
    
}

.jumpBtn:hover{
    color: rgb(215, 200, 174);
    background-color:var(--dark-blue);
}


/* Skill Display Section */

.skillSectionBanner{
    background-color:#323f64;
    padding-top:7px;
    padding-bottom:7px;
    margin-top:5%;
    margin-bottom:5%;
    border-radius:20px;
}

.skillListTitle{
    color:white;
    font-weight:700;
    margin-top:10px;
    margin-bottom:10px;

    transition: color 0.5s;
}

.skillListTitle:hover{
    color: rgb(177, 164, 164);
}

.skillList{
    padding-left:50px;
    list-style-type:square;
}

.skillListItem{
    color:rgb(57, 54, 54);
   font-size:2.2rem;
   font-weight: 700;
   margin-bottom: 10%;
   font-family:"Nunito", sans-serif;
}

.skillImageBox{
    padding-top:60px;
}

.sectionSep-b{
    margin:0;
    padding:0;
    width:95%;
    align-self:center;
}


/* Contact Me Section */

.myContact{
    background-color: var(--dark-green);
    /* height:100vh; */
    justify-content: space-between;
}

.contactSectionBanner{
    background-color: white;
    padding-top:10px;
    margin-bottom:40px;
    width:90%;
    border-radius:20px;

    transition: background-color 0.5s
}

.contactSectionBanner:hover{
    background-color:black;
}

.contactBannerText{
    transition: color 0.5s
}

.contactBannerText:hover{
    color:white;
}

.contactSectionContent{
    background-color:white;
    width:90%;
    border-radius:20px;
    padding-top:20px;
    
}

.formLabel{
    font-weight: 600;
}


/* BOOTSTRAP 5 BREAKPOINTS */

/* Small devices (landscape phones, 576px and up) - !! MOBILE TESTING SIZE !! */
@media (min-width: 576px) {

    #breakpoints::before {
        content: "Small screens and up (>576px Landscape phones) - 'sm'";
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  
    #breakpoints::before {
        content: "Medium screens and up (>768px Tablets) - 'md'";
    }

    .websiteSectionBanner{
        width:90%;
    }

    .skillSectionBanner{
        width:70%;
    }

    .skillListTitle{
        margin-top:7%;
        margin-bottom: 7%;
    }

    .skillListItem{
        font-size:2.5rem;
        margin-bottom: 18%;
     }

     .skillImageBox{
        padding-top:4%;
    }

    .sectionSep-b{
        display:none;
    }

    .contactSectionBanner{
        width:60%;
    }

    .contactSectionContent{
        width:60%;      
    }

}

    

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #breakpoints::before {
        content: "Large screens and up (>992px Desktops) - 'lg'";
    }
    
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #breakpoints::before {
        content: "Extra Large screens and up (>1200px Large Desktops) - 'xl'";
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    #breakpoints::before {
        content: "Extra Extra Large screens and up (>1400px Larger Desktops) - 'xxl'";
    }
}